Dataset link: https://www.kaggle.com/datasets/shivam2503/diamonds

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#index_col=[0]
#While you read csv file, if you set index_col=[0] you're explicitly stating to treat the first column as the index.

df = pd.read_csv('diamonds.csv',index_col=[0])

df.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [3]:
df.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [4]:
df.shape

(53940, 10)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53940 entries, 1 to 53940
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.5+ MB

In [6]:
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

### Machine Learning Problem
Build a system which can take features of diamond like carat, cut, color, clarity, x, y, z, etc.. and predicts the price of diamond.

In [7]:
df.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [8]:
df = df[['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z', 'price']]

df.head()

   carat      cut color clarity  depth  table     x     y     z  price
1   0.23    Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43    326
2   0.21  Premium     E     SI1   59.8   61.0  3.89  3.84  2.31    326
3   0.23     Good     E     VS1   56.9   65.0  4.05  4.07  2.31    327
4   0.29  Premium     I     VS2   62.4   58.0  4.20  4.23  2.63    334
5   0.31     Good     J     SI2   63.3   58.0  4.34  4.35  2.75    335

#### a. Identify the Target Variable and Splitting the Data into Train and Test

In [9]:
import sklearn

print(sklearn.__version__)

1.0.2

In [10]:
!pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\users\admin\anaconda3\lib\site-packages (1.0.2)
Requirement already satisfied: joblib>=0.11 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn) (1.21.6)
Requirement already satisfied: scipy>=1.1.0 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn) (1.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn) (3.1.0)

WARNING: Ignoring invalid distribution -umpy (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Error parsing requirements for pathtools: [Errno 2] No such file or directory: 'c:\\users\\admin\\anaconda3\\lib\\site-packages\\pathtools-0.1.2.dist-info\\METADATA'
WARNING: Ignoring invalid distribution -umpy (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\admin\anaconda3\lib\site-packages)

In [31]:
!pip upgrade scikit-learn

ERROR: unknown command "upgrade"

In [10]:
# Identifying the inputs (X) and output (y)

y = df['price']

X = df[['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z']]

In [12]:
pip install delayed

Requirement already satisfied: delayed in c:\users\admin\anaconda3\lib\site-packages (0.11.0b1)
Requirement already satisfied: redis in c:\users\admin\anaconda3\lib\site-packages (from delayed) (4.3.4)
Requirement already satisfied: hiredis in c:\users\admin\anaconda3\lib\site-packages (from delayed) (2.0.0)
Requirement already satisfied: typing-extensions in c:\users\admin\anaconda3\lib\site-packages (from redis->delayed) (4.3.0)
Requirement already satisfied: deprecated>=1.2.3 in c:\users\admin\anaconda3\lib\site-packages (from redis->delayed) (1.2.13)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\admin\anaconda3\lib\site-packages (from redis->delayed) (4.0.2)
Requirement already satisfied: importlib-metadata>=1.0 in c:\users\admin\anaconda3\lib\site-packages (from redis->delayed) (4.11.3)
Requirement already satisfied: packaging>=20.4 in c:\users\admin\anaconda3\lib\site-packages (from redis->delayed) (21.3)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\admin\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis->delayed) (1.14.1)
Requirement already satisfied: zipp>=0.5 in c:\users\admin\anaconda3\lib\site-packages (from importlib-metadata>=1.0->redis->delayed) (3.8.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\admin\anaconda3\lib\site-packages (from packaging>=20.4->redis->delayed) (3.0.9)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -umpy (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Error parsing requirements for pathtools: [Errno 2] No such file or directory: 'c:\\users\\admin\\anaconda3\\lib\\site-packages\\pathtools-0.1.2.dist-info\\METADATA'
WARNING: Ignoring invalid distribution -umpy (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\admin\anaconda3\lib\site-packages)

In [11]:
# split into train and test

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=100)

In [12]:
X_train.head()

       carat        cut color clarity  depth  table     x     y     z
29478   0.32      Ideal     F     VS1   61.3   56.0  4.40  4.44  2.71
52543   0.72  Very Good     I    VVS2   61.7   55.0  5.76  5.81  3.57
8726    0.38  Very Good     D     SI1   62.0   55.0  4.67  4.72  2.91
15578   1.00  Very Good     H    VVS2   62.6   56.0  6.36  6.39  3.99
19652   1.70    Premium     H     SI2   59.8   61.0  7.67  7.62  4.57

In [13]:
print(X_train.shape, y_train.shape)

print(X_test.shape, y_test.shape)

(37758, 9) (37758,)
(16182, 9) (16182,)

#### b. Separating Categorical and Numerical Columns:

In [14]:
X_train.head()

       carat        cut color clarity  depth  table     x     y     z
29478   0.32      Ideal     F     VS1   61.3   56.0  4.40  4.44  2.71
52543   0.72  Very Good     I    VVS2   61.7   55.0  5.76  5.81  3.57
8726    0.38  Very Good     D     SI1   62.0   55.0  4.67  4.72  2.91
15578   1.00  Very Good     H    VVS2   62.6   56.0  6.36  6.39  3.99
19652   1.70    Premium     H     SI2   59.8   61.0  7.67  7.62  4.57

In [13]:

X_train.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
dtype: object

In [14]:
X_train_cat = X_train.select_dtypes(include=['object'])

X_train_cat.head()

             cut color clarity
29478      Ideal     F     VS1
52543  Very Good     I    VVS2
8726   Very Good     D     SI1
15578  Very Good     H    VVS2
19652    Premium     H     SI2

In [15]:
X_train_num = X_train.select_dtypes(include=['int64', 'float64'])

X_train_num.head()

       carat  depth  table     x     y     z
29478   0.32   61.3   56.0  4.40  4.44  2.71
52543   0.72   61.7   55.0  5.76  5.81  3.57
8726    0.38   62.0   55.0  4.67  4.72  2.91
15578   1.00   62.6   56.0  6.36  6.39  3.99
19652   1.70   59.8   61.0  7.67  7.62  4.57

#### c. Scaling the Numerical Features

In [16]:
X_train_num.head()

       carat  depth  table     x     y     z
29478   0.32   61.3   56.0  4.40  4.44  2.71
52543   0.72   61.7   55.0  5.76  5.81  3.57
8726    0.38   62.0   55.0  4.67  4.72  2.91
15578   1.00   62.6   56.0  6.36  6.39  3.99
19652   1.70   59.8   61.0  7.67  7.62  4.57

In [17]:
# scaling the numerical features
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# column names are (annoyingly) lost after Scaling
# (i.e. the dataframe is converted to a numpy ndarray)

X_train_num_rescaled = pd.DataFrame(scaler.fit_transform(X_train_num), 
                                    columns = X_train_num.columns, 
                                    index = X_train_num.index)

X_train_num_rescaled.head()

          carat     depth     table         x         y         z
29478 -1.007784 -0.316595 -0.647912 -1.187006 -1.122457 -1.191717
52543 -0.166198 -0.038325 -1.095448  0.023744  0.062997  0.043156
8726  -0.881547  0.170377 -1.095448 -0.946636 -0.880174 -0.904537
15578  0.422912  0.587782 -0.647912  0.557898  0.564868  0.646234
19652  1.895688 -1.360107  1.589767  1.724135  1.629180  1.479055

In [18]:

X_train_cat['color'].value_counts(normalize=True)

G    0.210419
E    0.181736
F    0.178479
H    0.153583
D    0.122888
I    0.100244
J    0.052651
Name: color, dtype: float64

In [19]:
X_train_cat['clarity'].value_counts(normalize=True)

SI1     0.242094
VS2     0.226283
SI2     0.169765
VS1     0.152153
VVS2    0.095212
VVS1    0.068515
IF      0.032602
I1      0.013375
Name: clarity, dtype: float64

#### e. Applying Label Encoding on Categorical Columns

In [21]:
X_train_cat_le = pd.DataFrame(index=X_train_cat.index)

X_train_cat_le.head()

Empty DataFrame
Columns: []
Index: [29478, 52543, 8726, 15578, 19652]

In [22]:

X_train_cat.cut.unique()

array(['Ideal', 'Very Good', 'Premium', 'Good', 'Fair'], dtype=object)

In [23]:
cut_encoder = {'Fair' : 1, 'Good' : 2, 'Very Good' : 3, 'Ideal' : 4, 'Premium' : 5}

X_train_cat_le['cut'] = X_train_cat['cut'].apply(lambda x : cut_encoder[x])

X_train_cat_le.head()

       cut
29478    4
52543    3
8726     3
15578    3
19652    5

In [24]:
X_train_cat.color.unique()

array(['F', 'I', 'D', 'H', 'G', 'E', 'J'], dtype=object)

In [25]:
color_encoder = {'J':1, 'I':2, 'H':3, 'G':4, 'F':5, 'E':6, 'D':7}

X_train_cat_le['color'] = X_train_cat['color'].apply(lambda x : color_encoder[x])

X_train_cat_le.head()

       cut  color
29478    4      5
52543    3      2
8726     3      7
15578    3      3
19652    5      3

In [26]:
X_train_cat.clarity.unique()

array(['VS1', 'VVS2', 'SI1', 'SI2', 'VVS1', 'VS2', 'I1', 'IF'],
      dtype=object)

In [27]:
clarity_encoder = {'I1':1, 'SI2':2, 'SI1':3, 'VS2':4, 'VS1':5, 'VVS2':6, 'VVS1':7, 'IF':8}

X_train_cat_le['clarity'] = X_train_cat['clarity'].apply(lambda x : clarity_encoder[x])

X_train_cat_le.head()

       cut  color  clarity
29478    4      5        5
52543    3      2        6
8726     3      7        3
15578    3      3        6
19652    5      3        2

#### f. Concatinating the Encoded Categorical Features and Rescaled Numerical Features:

In [28]:
X_train_transformed = pd.concat([X_train_num_rescaled, X_train_cat_le], axis=1)

X_train_transformed.head()

,carat,depth,table,x,y,z,cut,color,clarity
29478,-1.007784,-0.316595,-0.647912,-1.187006,-1.122457,-1.191717,4,5,5
52543,-0.166198,-0.038325,-1.095448,0.023744,0.062997,0.043156,3,2,6
8726,-0.881547,0.170377,-1.095448,-0.946636,-0.880174,-0.904537,3,7,3
15578,0.422912,0.587782,-0.647912,0.557898,0.564868,0.646234,3,3,6
19652,1.895688,-1.360107,1.589767,1.724135,1.629180,1.479055,5,3,2

#### g. Preparing Test Data

In [29]:
X_test.head()

       carat      cut color clarity  depth  table     x     y     z
52265   0.57    Ideal     E     VS2   61.5   57.0  5.35  5.32  3.28
21074   1.16    Ideal     G     VS1   61.5   55.0  6.75  6.81  4.17
42162   0.51    Ideal     G     SI1   63.2   58.0  5.05  5.08  3.20
35975   0.42    Ideal     F     VS1   60.6   56.0  4.83  4.87  2.94
7642    0.80  Premium     G      IF   62.6   58.0  5.89  5.93  3.70

In [30]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16182 entries, 52265 to 1320
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    16182 non-null  float64
 1   cut      16182 non-null  object
 2   color    16182 non-null  object
 3   clarity  16182 non-null  object
 4   depth    16182 non-null  float64
 5   table    16182 non-null  float64
 6   x        16182 non-null  float64
 7   y        16182 non-null  float64
 8   z        16182 non-null  float64
dtypes: float64(6), object(3)
memory usage: 1.2+ MB

In [31]:
X_test_cat = X_test.select_dtypes(include=['object'])

X_test_cat.head()

           cut color clarity
52265    Ideal     E     VS2
21074    Ideal     G     VS1
42162    Ideal     G     SI1
35975    Ideal     F     VS1
7642   Premium     G      IF

In [32]:
X_test_num = X_test.select_dtypes(include=['int64', 'float64'])

X_test_num.head()

       carat  depth  table     x     y     z
52265   0.57   61.5   57.0  5.35  5.32  3.28
21074   1.16   61.5   55.0  6.75  6.81  4.17
42162   0.51   63.2   58.0  5.05  5.08  3.20
35975   0.42   60.6   56.0  4.83  4.87  2.94
7642    0.80   62.6   58.0  5.89  5.93  3.70

In [33]:
X_test_num_rescaled = pd.DataFrame(scaler.transform(X_test_num), 
                                   columns = X_test_num.columns, 
                                   index = X_test_num.index)

X_test_num_rescaled.head()

          carat     depth     table         x         y         z
52265 -0.481793 -0.177460 -0.200377 -0.341261 -0.360998 -0.373255
21074  0.759547 -0.177460 -1.095448  0.905098  0.928292  0.904696
42162 -0.608031  1.005187  0.247159 -0.608339 -0.568668 -0.488127
35975 -0.797388 -0.803567 -0.647912 -0.804195 -0.750380 -0.861460
7642   0.002119  0.587782  0.247159  0.139477  0.166832  0.229823

In [34]:
X_test_cat_le = pd.DataFrame(index = X_test_cat.index)

X_test_cat_le.head()

Empty DataFrame
Columns: []
Index: [52265, 21074, 42162, 35975, 7642]

In [35]:
X_test_cat_le['cut'] = X_test_cat['cut'].apply(lambda x : cut_encoder[x])

X_test_cat_le['color'] = X_test_cat['color'].apply(lambda x : color_encoder[x])

X_test_cat_le['clarity'] = X_test_cat['clarity'].apply(lambda x : clarity_encoder[x])

X_test_cat_le.head()

       cut  color  clarity
52265    4      6        4
21074    4      4        5
42162    4      4        3
35975    4      5        5
7642     5      4        8

In [36]:
X_test_transformed = pd.concat([X_test_num_rescaled, X_test_cat_le], axis=1)

X_test_transformed.head()

,carat,depth,table,x,y,z,cut,color,clarity
52265,-0.481793,-0.177460,-0.200377,-0.341261,-0.360998,-0.373255,4,6,4
21074,0.759547,-0.177460,-1.095448,0.905098,0.928292,0.904696,4,4,5
42162,-0.608031,1.005187,0.247159,-0.608339,-0.568668,-0.488127,4,4,3
35975,-0.797388,-0.803567,-0.647912,-0.804195,-0.750380,-0.861460,4,5,5
7642,0.002119,0.587782,0.247159,0.139477,0.166832,0.229823,5,4,8

#### Linear Regression

In [38]:
from sklearn.linear_model import LinearRegression
li_regressor = LinearRegression()
li_regressor.fit(X_train_transformed, y_train)

LinearRegression()

In [39]:
y_test_pred = li_regressor.predict(X_test_transformed)

In [40]:
temp_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred})

temp_df.head()

       Actual    Predicted
52265    2491  2363.834740
21074    9248  7469.644228
42162    1284   643.298938
35975     921  1516.808210
7642     4268  5721.128606

In [41]:
from sklearn import metrics

print('Mean Absolute Error: ', metrics.mean_absolute_error(y_test, y_test_pred))

print('Mean Squared Error: ', metrics.mean_squared_error(y_test, y_test_pred))

print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))

Mean Absolute Error:  795.4560135879746
Mean Squared Error:  1471939.156075997
Root Mean Squared Error:  1213.234996229501

#### KNN Regression

In [42]:
from sklearn.neighbors import KNeighborsRegressor
knn_regressor = KNeighborsRegressor()
knn_regressor.fit(X_train_transformed, y_train)

KNeighborsRegressor()

In [43]:
y_test_pred = knn_regressor.predict(X_test_transformed)

In [44]:
temp_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred})

temp_df.head()

       Actual  Predicted
52265    2491     1779.6
21074    9248     9000.6
42162    1284     1136.6
35975     921      960.4
7642     4268     5510.6

In [45]:
print('Mean Absolute Error: ', metrics.mean_absolute_error(y_test, y_test_pred))

print('Mean Squared Error: ', metrics.mean_squared_error(y_test, y_test_pred))

print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))

Mean Absolute Error:  384.03119515511065
Mean Squared Error:  567200.9668570017
Root Mean Squared Error:  753.127457245453

#### Decision Tree Regression

In [46]:
from sklearn.tree import DecisionTreeRegressor
dt_regressor = DecisionTreeRegressor()
dt_regressor.fit(X_train_transformed, y_train)

DecisionTreeRegressor()

In [47]:
y_test_pred = dt_regressor.predict(X_test_transformed)

In [48]:
temp_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred})

temp_df.head()

       Actual  Predicted
52265    2491     1792.0
21074    9248     9625.0
42162    1284     1237.0
35975     921     1031.0
7642     4268     4844.0

In [49]:
print('Mean Absolute Error: ', metrics.mean_absolute_error(y_test, y_test_pred))

print('Mean Squared Error: ', metrics.mean_squared_error(y_test, y_test_pred))

print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))

Mean Absolute Error:  364.38011370658757
Mean Squared Error:  549493.8875911507
Root Mean Squared Error:  741.2785492587457

#### Random Forest Regression

In [50]:
from sklearn.ensemble import RandomForestRegressor
rf_regressor = RandomForestRegressor()
rf_regressor.fit(X_train_transformed, y_train)

RandomForestRegressor()

In [52]:
y_test_pred = rf_regressor.predict(X_test_transformed)

In [53]:
temp_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred})

temp_df.head()

       Actual  Predicted
52265    2491    1834.83
21074    9248    8569.85
42162    1284    1248.60
35975     921    1048.38
7642     4268    4295.11

In [54]:
print('Mean Absolute Error: ', metrics.mean_absolute_error(y_test, y_test_pred))

print('Mean Squared Error: ', metrics.mean_squared_error(y_test, y_test_pred))

print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))

Mean Absolute Error:  269.4685501718547
Mean Squared Error:  290756.29871235206
Root Mean Squared Error:  539.2182292099851

#### Saving the Model (Serialization)

In [56]:
from pickle import dump

dump(scaler, open('project/models/standard_scaler.pkl', 'wb'))
#dump(encoder, open('models/onehot_encoder.pkl', 'wb'))
dump(li_regressor, open('project/models/linearregression.pkl', 'wb'))
dump(knn_regressor, open('project/models/knnregression.pkl', 'wb'))
dump(dt_regressor, open('project/models/decisiontreeregression.pkl', 'wb'))
dump(rf_regressor, open('project/models/randomforestregression.pkl', 'wb'))

#### Deserialization

In [57]:
from pickle import load

In [58]:
rf_regressor = load(open('project/models/randomforestregression.pkl', 'rb'))
scaler = load(open('project/models/standard_scaler.pkl', 'rb'))

In [59]:
clarity_encoder = {'I1':1, 'SI2':2, 'SI1':3, 'VS2':4, 'VS1':5, 'VVS2':6, 'VVS1':7, 'IF':8}
color_encoder = {'J':1, 'I':2, 'H':3, 'G':4, 'F':5, 'E':6, 'D':7}
cut_encoder = {'Fair' : 1, 'Good' : 2, 'Very Good' : 3, 'Ideal' : 4, 'Premium' : 5}

In [60]:
clarity_encoder.keys()

dict_keys(['I1', 'SI2', 'SI1', 'VS2', 'VS1', 'VVS2', 'VVS1', 'IF'])

In [61]:
num_scal=scaler.transform([[1.16 ,61.5 ,55.0 ,6.75 ,6.81 ,4.17]])
num_scal.flatten()

C:\Users\admin\anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

array([ 0.7595468 , -0.1774599 , -1.09544817,  0.90509846,  0.92829164,
        0.90469557])

In [62]:
cat_encod=np.array([clarity_encoder["I1"],color_encoder["J"],cut_encoder["Good"]])
cat_encod

array([1, 1, 2])

In [63]:
np.concatenate((cat_encod, num_scal.flatten()), axis=None).reshape(1,-1)

array([[ 1.        ,  1.        ,  2.        ,  0.7595468 , -0.1774599 ,
        -1.09544817,  0.90509846,  0.92829164,  0.90469557]])

In [64]:
rf_regressor.predict(np.concatenate((cat_encod, num_scal.flatten()), axis=None).reshape(1,-1)).item()

C:\Users\admin\anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"

2460.31